name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      debugging_jobs:
        description: 'List of debugging jobs, separated by comma'
        required: false

jobs:
  setup_ci:
    runs-on: ubuntu-latest
    outputs:
      test_matrix: ${{steps.generate_matrices.outputs.test_matrix}}
      static_matrix: ${{steps.generate_matrices.outputs.static_matrix}}
      run_test: ${{steps.generate_matrices.outputs.run_test}}
      run_static: ${{steps.generate_matrices.outputs.run_static}}
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: homper/skip_or_debug_jobs@main
        id: test_output
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          job_id: static
          job_matrix: |
            cpu: [X64, ARM64]
            compiler: [clang, gcc]
            check_type: [normal, debug, valgrind_1, valgrind_2]
      - run: echo "${{steps.test_output.outputs.run_static}}"
      - run: echo "${{steps.test_output.outputs.run_ban}}"
      - run: exit 1
      - name: Generate matrices
        id: generate_matrices
        run: |
          perl ./ci/generate_matrix.pl \
            "${{ github.event.head_commit.message }}" \
            "${{ github.event.inputs.debugging_jobs }}" \
            test \
            'cpu: [X64, ARM64],
             compiler: [clang, gcc],
             check_type: [normal, debug, valgrind_1, valgrind_2]'
          perl ./ci/generate_matrix.pl \
            "${{ github.event.head_commit.message }}" \
            "${{ github.event.inputs.debugging_jobs }}" \
            static \
            'cpu: [X64, ARM64],
             compiler: [clang, gcc]'
  test:
    runs-on: ubuntu-latest
    needs: setup_ci
    if: ${{ fromJson(needs.setup_ci.outputs.run_test) }}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.setup_ci.outputs.test_matrix)}}
    env:
      CPU: ${{ matrix.cpu }}
      COMPILER: ${{ matrix.compiler }}
      CHECK_TYPE: ${{ matrix.check_type }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup debug session
        uses: orioledb/action-tmate@tmate-from-repository
        if: ${{ matrix.debugging }}
      - name: Run a one-line script
        run: |
          echo "RUNNING: =>${{env.RUNNING}}<="
        if: ${{ !matrix.debugging }}
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
        if: ${{ !matrix.debugging }}
      - name: Exit with random status
        run: exit $((RANDOM % 20 == 0))
        if: ${{ !matrix.debugging }}
  static:
    runs-on: ubuntu-latest
    needs: setup_ci
    if: ${{ fromJson(needs.setup_ci.outputs.run_static) }}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.setup_ci.outputs.static_matrix)}}
    env:
      CPU: ${{ matrix.cpu }}
      COMPILER: ${{ matrix.compiler }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup debug session
        uses: orioledb/action-tmate@tmate-from-repository
        if: ${{ matrix.debugging }}
      - name: Run a one-line script
        run: echo Hello, $JOB_ID-$COMPILER!
        if: ${{ !matrix.debugging }}
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
        if: ${{ !matrix.debugging }}
      - name: Exit with random status
        run: exit $((RANDOM % 20 == 0))
        if: ${{ !matrix.debugging }}
